fastapi
uvicorn
python-dotenv
google-generativeai
google-generativeai
supabase
python-multipart
requests
numpy
pydantic
pydantic-settings
rank_bm25
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
groq
langchain-text-splitters
